<p-toolbar class="mb-6">
    <ng-template #start>
        <breadcrumb-header [breadcrumbs]="breadcrumbs" title="MÓDULO DE LIQUIDACIONES REMANUFACTURA"> </breadcrumb-header>
    </ng-template>

    <ng-template #end>
        <p-button label="Nuevo" icon="pi pi-plus" severity="primary" class="mr-2" [raised]="true" size="large" (onClick)="openCreateModal()" />
    </ng-template>
</p-toolbar>

<p-card>
    <p-table
        #dt
        dataKey="id"
        [value]="partidaStore.entities()"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nombreLiquidacion']"
        [rowHover]="true"
        currentPageReportTemplate="Visualizar {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Administrador de Liquidaciones</h5>
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar por nombre" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 3rem">N°</th>

                <th pSortableColumn="nombreLiquidacion" style="min-width: 16rem">
                    Nombre
                    <p-sortIcon field="nombreLiquidacion" />
                </th>
                <th pSortableColumn="fechaIngreso" style="min-width: 8rem">
                    Fecha Ingreso
                    <p-sortIcon field="fechaIngreso" />
                </th>
                <th pSortableColumn="usuarioId" style="min-width: 10rem">
                    Creado por
                    <p-sortIcon field="usuarioId" />
                </th>
                <th pSortableColumn="estado" style="min-width: 12rem">
                    Estado
                    <p-sortIcon field="estado" />
                </th>

                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-liquidacion let-rowIndex="rowIndex">
            <tr>
                <td style="width: 3rem">
                    {{ rowIndex + 1 }}
                </td>

                <td style="min-width: 12rem">{{ liquidacion.nombreLiquidacion }}</td>
                <td>{{ liquidacion.fechaIngreso | shortDate }}</td>

                <td class="text-primary bold">{{ liquidacion.usuario.nombreUsuario }}</td>
                <td>
                    <p-tag [value]="liquidacion.estado == 1 ? 'Activo' : 'Inactivo'" [severity]="getSeverity(liquidacion.estado)" />
                </td>
                <td>
                    <p-button icon="pi pi-eye" class="mr-2" [rounded]="true" pTooltip="Ver Detalle" tooltipPosition="top" (click)="onViewDetail(liquidacion)" />
                    <p-button icon="pi pi-pencil" severity="info" class="mr-2" pTooltip="Editar" tooltipPosition="top" [rounded]="true" [outlined]="true" (click)="OnEditModal(liquidacion)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" pTooltip="Eliminar" tooltipPosition="top" [outlined]="true" (click)="onDeleteModal(liquidacion)" />
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="6" class="text-center py-4">
                    <div class="flex flex-col items-center gap-2">
                        <i class="pi pi-info-circle" style="font-size: 1.5rem"></i>
                        <span>No se encontraron datos para mostrar</span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!--
<app-remanufactura-create />
<app-remanufactura-edit />
-->
<p-confirmdialog [style]="{ width: '450px' }" />
