<p-card>
    <div class="px-4">
        <div class="flex justify-between">
            <p-button label="Volver" icon="pi pi-arrow-left" severity="secondary" (onClick)="goBack()"></p-button>
            @if (remanufacturaStore.entity()?.estado) {
                <p-button
                    label="Importar Liquidaciones"
                    [disabled]="remanufacturaDetalleStore.entitiesPreview().length > 0 && !remanufacturaStore.isSubmitting()"
                    icon="pi pi-file-import"
                    severity="primary"
                    [raised]="true"
                    size="large"
                    (onClick)="handleToggleImport(remanufacturaStore.entity()?.estado)"
                ></p-button>
            }
        </div>

        @if (remanufacturaStore.entity()  ) {
            <p-toolbar class="my-6 flex items-center">
                <ng-template #start class="flex justify-center">
                    <h2>
                        Detalle: <span class="text-4xl text-primary">{{ remanufacturaStore.entity()?.nombreLiquidacion }}</span>
                    </h2>
                </ng-template>

                <ng-template #end>
                    <div class="flex gap-1">
                        <p-tag icon="pi pi-info-circle" [value]="remanufacturaStore.entity()?.estado ? 'Activo' : 'Inactivo'" [severity]="getSeverity(remanufacturaStore.entity()!.estado)" />
                        <p-tag icon="pi pi-calendar" severity="secondary" [value]="remanufacturaStore.entity()?.fechaIngreso! | shortDate"></p-tag>
                    </div>
                </ng-template>
            </p-toolbar>
            @if (!showImportDialog() && remanufacturaDetalleStore.isSubmitting()) {
                <div class="flex justify-center items-center">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            }

            @if (showImportDialog()) {
                <div class="border-1 border-dashed border-primary p-4 rounded-lg mt-4">
                    <!--
                    <div class="flex justify-center mb-4">
                        <div class="bounce animation-iteration-infinite animation-duration-2000">
                            <a (click)="downloadExcelTemplate()" class="text-primary hover:underline cursor-pointer flex items-center gap-2 p-2">
                                <i class="pi pi-file-excel text-lg"></i>
                                <span class="font-semibold">Descargar plantilla haciendo click aqui</span>
                            </a>
                        </div>
                    </div>-->

                    <p-fileUpload
                        #fileUploader
                        name="file"
                        mode="advanced"
                        [multiple]="false"
                        accept=".xlsx,.xls"
                        [invalidFileTypeMessageSummary]="'Tipo de archivo no válido. Solo se permiten archivos Excel (.xlsx, .xls).'"
                        [maxFileSize]="10000000"
                        [showCancelButton]="false"
                        [showUploadButton]="false"
                        chooseLabel="Seleccionar archivo"
                        [customUpload]="true"
                        (uploadHandler)="handleUploadFile($event)"
                    >
                        <ng-template pTemplate="toolbar">
                            <div class="p-fileupload-buttonbar p-2 flex justify-between items-center gap-2">
                                <div class="flex gap-2">
                                    <p-button label="Eliminar" icon="pi pi-times" severity="danger" [outlined]="true" (onClick)="fileUploader.clear()" [disabled]="fileUploader.files.length === 0 || remanufacturaDetalleStore.isSubmitting()">
                                    </p-button>

                                    <p-button
                                        label="Procesar"
                                        icon="pi pi-upload"
                                        severity="info"
                                        (onClick)="fileUploader.upload()"
                                        [disabled]="fileUploader.files.length === 0 || remanufacturaDetalleStore.isLoadingDataPreview()"
                                        [loading]="remanufacturaDetalleStore.isLoadingDataPreview()"
                                    >
                                    </p-button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="empty">
                            <div class="flex items-center justify-center flex-col">
                                <i class="pi pi-cloud-upload !border-1 !rounded-full !p-8 !text-4xl !text-muted-color mb-2"></i>
                                <p class="mt-2 !text-muted-color">Arrastra y suelta el archivo aquí para procesarlo.</p>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="file" let-file>
                            <div class="flex items-center flex-wrap p-3">
                                <div class="flex items-center gap-3">
                                    <i class="pi pi-file-excel text-green-600" style="font-size: 2rem"></i>
                                    <span class="font-semibold">{{ file.name }}</span>
                                    <p-badge [value]="getFileSizeInMB(file.size)" severity="secondary"></p-badge>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            }

            @if (remanufacturaDetalleStore.entitiesPreview().length > 0 && !remanufacturaStore.isSubmitting()) {
                <div class="mt-6 border-1 border-dashed border-primary p-4 rounded-lg">
                    <div class="flex justify-between items-center">
                        <h3 class="text-xl font-semibold">Previsualización de Datos</h3>
                        <div class="flex gap-1">
                            <p-button label="Volver a importar" [outlined]="true" icon="pi pi-arrow-left" [loading]="remanufacturaStore.isSubmitting()" (onClick)="handleImportAgain()"> </p-button>
                            <p-button label="Guardar Datos Importados" icon="pi pi-save" [loading]="remanufacturaStore.isSubmitting()" (onClick)="handleSubmitDetail()"> </p-button>
                        </div>
                    </div>

                    <p-table
                        [value]="remanufacturaDetalleStore.entitiesPreview()"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50, 100]"
                        [totalRecords]="remanufacturaDetalleStore.entitiesPreview().length"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} filas"
                        [showCurrentPageReport]="true"
                        class="p-datatable-striped"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 8rem">Liquidacion</th>
                                <th style="min-width: 8rem">Cód. SAP</th>
                                <th style="min-width: 8rem">Cód. Entrega</th>
                                <th style="min-width: 8rem">Serie Final</th>
                                <th style="min-width: 12rem">Nombre Producto</th>
                                <th style="min-width: 8rem">Cantidad</th>
                                <th style="min-width: 8rem">Estado</th>
                                <th style="min-width: 8rem">Costo Unidad (S/.)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-detalle>
                            <tr>
                                <td>{{ detalle.liquidacion }}</td>
                                <td>{{ detalle.codigoSAP }}</td>
                                <td>{{ detalle.codigoEntrega }}</td>
                                <td>{{ detalle.serieFinal }}</td>
                                <td>{{ detalle.nombreProducto }}</td>
                                <td>{{ detalle.cantidad }}</td>
                                <td><p-tag [value]="detalle.estado" severity="info"></p-tag></td>
                                <td>{{ detalle.costoUnitario }}</td>
                            </tr>
                        </ng-template>

                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="7" class="text-center py-4">
                                    <div class="flex flex-col items-center gap-2">
                                        <i class="pi pi-info-circle" style="font-size: 1.5rem"></i>
                                        <span>No se encontraron datos para mostrar</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            }
        } @else {
            <div class="flex flex-col items-center">
                <i class="pi pi-exclamation-triangle text-red-800" style="font-size: 2.5rem"></i>
                <p class="text-red-800">No se pudo cargar el detalle.</p>
            </div>
        }
    </div>
</p-card>

<div class="flex flex-col flex-1 h-full">
    <p-card class="mt-4 flex-1 relative overflow-hidden">
            <p-table
                #dt
                [value]="remanufacturaDetalleStore.entities()"
                dataKey="id"
                [paginator]="true"
                [tableStyle]="{ 'min-width': '75rem' }"
                [rows]="10"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                [(selection)]="selectedData"
                [rowHover]="true"
                [scrollable]="true"
                scrollHeight="h-[calc(100dvh-20rem)]"
                [globalFilterFields]="['liquidacion', 'plataforma', 'codigoLiquidacion', 'codigoEntrega', 'codigoSAP', 'nombreProducto', 'serieOrigen', 'serieFinal', 'trabajoRealizado']"
                currentPageReportTemplate="Visualizar {first} a {last} de {totalRecords} registros"
            >
                <ng-template #caption>
                    <div class="flex items-center justify-between">
                        <div class="flex flex-row gap-2">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por nombre" />
                            </p-iconfield>
                            <p-button label="Limpiar Filtros" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilters(dt)" />
                            <p-button severity="danger" label="Eliminar" icon="pi pi-trash"  (onClick)="deleteSelectedProducts()" [disabled]="!selectedData || !selectedData.length" />
                        </div>

                        <div class="flex flex-row gap-2">
                            @if (this.remanufacturaDetalleStore.entities() && remanufacturaDetalleStore.entities().length > 0) {
                                <div class="card flex justify-between gap-3">
                                    <p-button
                                        label="Gestionar Partida"
                                        [disabled]="remanufacturaDetalleStore.entitiesPreview().length > 0 && !remanufacturaStore.isSubmitting() || remanufacturaDetalleStore.entities().length <= 0"
                                        icon="pi pi-plus"
                                        variant="outlined"
                                        severity="warn"

                                        (onClick)="handleOpenModalAddPartidas(remanufacturaStore.entity()!.id)"
                                    ></p-button>
                                    <p-button
                                        label="Descargar Reporte"
                                        severity="success"
                                        icon="pi pi-file-excel"
                                        [disabled]="remanufacturaDetalleStore.isExporting() || remanufacturaDetalleStore.entities().length <= 0"
                                        [loading]="remanufacturaDetalleStore.isExporting()"
                                        (click)="export()"
                                    />
                                </div>
                            }
                        </div>
                    </div>
                </ng-template>

                <ng-template #header>
                    <tr>
                        <th style="width: 3rem" pFrozenColumn>
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="liquidacion" style="min-width: 10rem" pFrozenColumn>
                            Liquidacion
                            <p-sortIcon field="liquidacion" />
                        </th>
                        <th pSortableColumn="plataforma" style="min-width: 10rem">
                            Plataforma
                            <p-sortIcon field="plataforma" />
                        </th>
                        <th pSortableColumn="codigoLiquidacion" style="min-width: 8rem">
                            Codigo
                            <p-sortIcon field="codigoLiquidacion" />
                        </th>
                        <th pSortableColumn="codigoEntrega" style="min-width: 12rem">
                            Codigo Entrega
                            <p-sortIcon field="codigoEntrega" />
                        </th>
                        <th pSortableColumn="fechaPrevista" style="min-width: 12rem">
                            Fecha Prevista
                            <p-sortIcon field="fechaPrevista" />
                        </th>
                        <th pSortableColumn="codigoSAP" style="min-width: 10rem">
                            Codigo SAP
                            <p-sortIcon field="codigoSAP" />
                        </th>
                        <th pSortableColumn="nombreProducto" style="min-width: 16rem">
                            Producto
                            <p-sortIcon field="nombreProducto" />
                        </th>
                        <th pSortableColumn="cantidad" style="min-width: 10rem">
                            Cantidad
                            <p-sortIcon field="cantidad" />
                        </th>
                        <th pSortableColumn="serieOrigen" style="min-width: 12rem">
                            Serie Origen
                            <p-sortIcon field="serieOrigen" />
                        </th>
                        <th pSortableColumn="serieFinal" style="min-width: 12rem">
                            Serie Final
                            <p-sortIcon field="serieFinal" />
                        </th>
                        <th pSortableColumn="trabajoRealizado" style="min-width: 14rem">
                            Trabajo realizado
                            <p-sortIcon field="trabajoRealizado" />
                        </th>
                        <th pSortableColumn="estado" style="min-width: 12rem">
                            Estado
                            <p-sortIcon field="estado" />
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-detalle let-rowIndex="rowIndex">
                    <tr>
                        <td style="width: 3rem" pFrozenColumn>
                            <p-tableCheckbox [value]="detalle" />
                        </td>
                        <td class="font-bold" pFrozenColumn>{{ detalle.liquidacion }}</td>
                        <td>{{ detalle.plataforma }}</td>
                        <td>{{ detalle.codigoLiquidacion }}</td>
                        <td>{{ detalle.codigoEntrega }}</td>
                        <td>{{ detalle.fechaPrevista | shortDate }}</td>
                        <td>{{ detalle.codigoSAP }}</td>
                        <td>{{ detalle.nombreProducto }}</td>
                        <td style="width: 0.5rem">{{ detalle.cantidad }}</td>
                        <td>{{ detalle.serieOrigen != null || detalle.serieOrigen == '' ? 'S/N' : detalle.serieOrigen }}</td>
                        <td>{{ detalle.serieFinal }}</td>
                        <td>{{ detalle.trabajoRealizado }}</td>
                        <td>{{ detalle.estado }}</td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="13" class="text-center py-4">
                            <div class="flex flex-col items-center gap-2">
                                <i class="pi pi-info-circle" style="font-size: 1.5rem"></i>
                                <span>No se encontraron datos para mostrar</span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

    </p-card>
</div>

<remanufactura-partidas-detail/>
