<p-dialog header="Detalles Liquidacion" [modal]="true" [visible]="rolStore.isOpenEdit()" [breakpoints]="{ '450px': '90vw', '640px': '100vw' }" (visibleChange)="handleCloseModal()">
    <ng-template #content>
        <form class="flex-col pt-2 rounded-xl p-4" [formGroup]="updateForm" (ngSubmit)="handleSubmit()">
            <div class="flex flex-col gap-6">
                <div>
                    <label class="font-bold block mb-2">Nombre <span class="text-red-700">*</span></label>
                    <input type="text" class="w-full" pInputText formControlName="descripcion" [invalid]="isInvalid('descripcion')" required />
                    @if (isInvalid('descripcion')) {
                        <p-message severity="error" size="small" variant="simple">Nombre del rol requerido </p-message>
                    }

                    <!-- VERIFICAION DE USUARIO DUPLICADO-->
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <label class="font-bold block">Estado</label>
                        <div class="flex flex-col gap-1">
                            <p-select-button class="p-1" [options]="stateOptions()" formControlName="estado" [invalid]="isInvalid('value')" optionLabel="label" optionValue="value" />
                            @if (isInvalid('estado')) {
                                <p-message severity="error" size="small" variant="simple">Debe de seleccionar un estado</p-message>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="handleCloseModal()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="handleSubmit()" />
    </ng-template>
</p-dialog>
