<p-dialog header="Nueva Liquidacion" [modal]="true" [visible]="partidaDetalleStore.isOpenCreate()" [breakpoints]="{ '575px': '100vw' }" [style]="{ width: '500px', maxHeight: '100%' }"(visibleChange)="handleCloseModal()">
    <ng-template #content>
        <form class="flex-col pt-2 rounded-xl p-4" [formGroup]="createDetailForm" (ngSubmit)="handleSubmit()">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-1">
                    <label class="font-bold block mb-2">Descripcion <span class="text-red-700">*</span></label>
                    <input type="text" class="w-full" pInputText formControlName="descripcion" [invalid]="isInvalid('descripcion')" required />
                    @if (isInvalid('descripcion')) {
                        <p-message severity="error" size="small" variant="simple">Descripcion de partida no valido </p-message>
                    }
                </div>
                <div class="flex-1 pt-4">
                    <label class="font-bold block mb-2"> Estado <span class="text-red-700">*</span></label>
                    <div class="flex flex-col gap-1">
                        <p-select-button class="p-1" [options]="stateOptions()" formControlName="estado" [invalid]="isInvalid('value')" optionLabel="label" optionValue="value" />
                        @if (isInvalid('estado')) {
                            <p-message severity="error" size="small" variant="simple">Debe de seleccionar un estado</p-message>
                        }
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="handleCloseModal()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="handleSubmit()" />
    </ng-template>
</p-dialog>
