
<p-toolbar class="mb-6">
    <ng-template #start>
        <breadcrumb-header [breadcrumbs]="breadcrumbs" title="MÓDULO DE ROLES"> </breadcrumb-header>
    </ng-template>

    <ng-template #end>
        <p-button label="Nuevo" icon="pi pi-plus" severity="primary" class="mr-2" [raised]="true" size="large" (onClick)="openCreateModal()" />
    </ng-template>
</p-toolbar>

<p-card>
    <p-table
        #dt
        dataKey="id"
        [value]="this.rolStore.entities()"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['descripcion']"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Visualizar {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Administrador de Roles</h5>
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar por nombre" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 3rem">N°</th>

                <th pSortableColumn="descripcion" style="min-width: 8rem">
                    Nombre
                    <p-sortIcon field="descripcion" />
                </th>
                <th pSortableColumn="estado" style="min-width: 12rem">
                    Estado
                    <p-sortIcon field="estado" />
                </th>

                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-rol let-rowIndex="rowIndex">
            <tr>
                <td style="width: 3rem">
                    {{ rol.id }}
                </td>

                <td class="text-primary bold">{{ rol.descripcion }}</td>
                <td>
                    <p-tag [value]="rol.estado == 1 ? 'Activo' : 'Inactivo'" [severity]="getSeverity(rol.estado)" />
                </td>
                <td>
                    <p-button icon="pi pi-pencil" severity="info" class="mr-2" pTooltip="Editar" tooltipPosition="top" [rounded]="true" [outlined]="true" (click)="OnEditModal(rol)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" pTooltip="Eliminar" tooltipPosition="top" [outlined]="true" (click)="onDeleteModal(rol)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-rol-create />
<app-rol-edit />

<p-confirmdialog [style]="{ width: '450px' }" />
